extends ./layout.pug
block content 
    h3 Further details if needed can add links etc
    h3 Here it will information
    h4=resume.name
    h4=resume.description
    h4=resume.aspiration
    h4=resume.technologies
    h4=resume.projects
    h4=resume.education
    h4=resume.email
    p=resume.additional
    a(href= "/") Home